<app-bread-crumb
  [items]="[{text: 'Categorias', link: '/categories'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="Voltar"
  button-link="/categories"
  button-class="btn-light border"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre a categoria
    </div>
    <div class="card-body">
      <div class="row">

        <!-- Nome da categoria -->
        <div class="col-md-4">
          <div class="form-floating">
            <input formControlName="name" type="text" class="form-control {{isInvalid(resourceForm.controls.name)}} {{isValid(resourceForm.controls.name)}}" id="name" placeholder="Nome da categoria">
            <label for="name">Nome da categoria</label>

            <div class="invalid-feedback">
              <div *ngIf="resourceForm.get('name')?.errors?.required">Dado obrigatório.</div>
              <div *ngIf="resourceForm.get('name')?.errors?.minlength">Deve ter no mínimo 2 caracteres.</div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="form-floating">
            <input formControlName="description" type="text" class="form-control" id="description" placeholder="Descrição">
            <label for="description">Descrição</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <h4 class="alert-heading">Erro no servidor</h4>
    <small>Ocorreu um erro no lado do servidor, confira algumas informações para depuração:</small>
    <hr>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg mt-3 float-end">Salvar</button>
</form>