<app-bread-crumb [items]="[{text: 'Lançamentos', link: '/sistema/entries'}, {text: pageTitle}]"></app-bread-crumb>

<app-page-header [page-title]="pageTitle" button-text="Voltar" button-link="/entries" button-class="btn-light border"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre o Lançamento
    </div>
    <div class="card-body">

      <div class="row mb-3">

        <!-- Tipo (type) -->
        <div class="col-md-2">
          <div class="form-floating">
            <select formControlName="type" type="text" class="form-select {{isInvalid(resourceForm.controls.type)}} {{isValid(resourceForm.controls.type)}}" id="type" placeholder="Tipo">
              <!-- <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option> -->
              <option value="expense">Despesa</option>
              <option value="revenue">Receita</option>
            </select>
            <label for="type">Tipo</label>

            <div class="invalid-feedback">
              <app-form-field-error [form-control]="resourceForm.get('type')"></app-form-field-error>
            </div>
          </div>
        </div>

        <!-- Nome -->
        <div class="col-md-5">
          <div class="form-floating">
            <input formControlName="name" type="text" class="form-control {{isInvalid(resourceForm.controls.name)}} {{isValid(resourceForm.controls.name)}}" id="name" placeholder="Nome do lançamento">
            <label for="name">Lançamento*</label>

            <div class="invalid-feedback">
              <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
            </div>
          </div>
        </div>

        <!-- Valor (amount) -->
        <div class="col-md-3">
          <div class="form-floating">
            <input [imask]="imaskConfig" formControlName="amount" type="text" class="form-control {{isInvalid(resourceForm.controls.amount)}} {{isValid(resourceForm.controls.amount)}}" id="amount" placeholder="Valor R$">
            <label for="amount">Valor (R$)</label>

            <div class="invalid-feedback">
              <app-form-field-error [form-control]="resourceForm.get('amount')"></app-form-field-error>
            </div>
          </div>
        </div>

        <!-- Data (date) -->
        <div class="col-md-2">
          <p-calendar id="date" formControlName="date" inputStyleClass="form-control {{isInvalid(resourceForm.controls.date)}} {{isValid(resourceForm.controls.date)}}" dataType="string" dateFormat="dd/mm/yy" [showButtonBar]="true" placeholder="Data">
          </p-calendar>

          <div class="invalid-feedback">
            <app-form-field-error [form-control]="resourceForm.get('date')"></app-form-field-error>
          </div>
        </div>

      </div>

      <div class="row">

        <!-- Pago/Pendente (paid) -->
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <div class="form-floating">
            <div class="btn-group">
              <label (click)="resourceForm.get('paid')?.setValue(true)" [class.active]="resourceForm.get('paid')?.value == true" class="btn btn-outline-info">Pago</label>
              <label (click)="resourceForm.get('paid')?.setValue(false)" [class.active]="resourceForm.get('paid')?.value == false" class="btn btn-outline-info">Pendente</label>
            </div>

            <div class="invalid-feedback">
              <app-form-field-error [form-control]="resourceForm.get('paid')"></app-form-field-error>
            </div>
          </div>
        </div>

        <!-- ID da Categoria (categoryId) -->
        <div class="col-md-3">
          <div class="form-floating">
            <select formControlName="categoryId" type="text" class="form-select {{isInvalid(resourceForm.controls.categoryId)}} {{isValid(resourceForm.controls.categoryId)}}" id="categoryId" placeholder="ID da Categoria">
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            <label for="type">ID da Categoria</label>

            <div class="invalid-feedback">
              <app-form-field-error [form-control]="resourceForm.get('categoryId')"></app-form-field-error>
            </div>
          </div>
        </div>

        <!-- Descrição -->
        <div class="col-md-7">
          <div class="form-floating">
            <input formControlName="description" type="text" class="form-control {{isInvalid(resourceForm.controls.description)}} {{isValid(resourceForm.controls.description)}}" id="description" placeholder="Descrição">
            <label for="description">Descrição</label>

            <div class="invalid-feedback">
              <app-form-field-error [form-control]="resourceForm.get('description')"></app-form-field-error>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-server-error-messages
    [server-error-messages]="serverErrorMessages"
  ></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg mt-3 float-end">Salvar</button>
</form>