<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <div class="row">

        <!-- Email -->
        <div class="col-md-4">
          <div class="form-floating">
            <input formControlName="email" type="text" class="form-control {{isInvalid(resourceForm.controls.email)}} {{isValid(resourceForm.controls.email)}}" id="email" placeholder="Nome da categoria">
            <label for="email">Email</label>

            <div class="invalid-feedback">
              <app-form-field-error [form-control]="resourceForm.get('email')"></app-form-field-error>
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="col-md-4">
          <div class="form-floating">
            <input formControlName="password" type="password" class="form-control {{isInvalid(resourceForm.controls.password)}} {{isValid(resourceForm.controls.password)}}" id="password" placeholder="Nome da categoria">
            <label for="password">Senha</label>

            <div class="invalid-feedback">
              <app-form-field-error [form-control]="resourceForm.get('password')"></app-form-field-error>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg mt-3">Entrar</button>
</form>